<div class="overflow-x-auto my-5 rounded-xl shadow border border-gray-300">
  <table class="table table-auto ">
    <!-- head -->
    <thead class="bg-primary text-white font-semibold">
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="">
      @for (country of countries(); track country.cca2; let index = $index) {
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img [src]="country.flagSvg" [alt]="country.name" class="w-10" />
        </td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>

        <td>
          <span class="badge badge-secondary">
            {{ country.population | number }}
          </span>
        </td>

        <td>
          <button
            [routerLink]="['/country/by', country.cca2]"
            class="btn btn-primary"
          >
            Ver mas
          </button>
        </td>
      </tr>
      }
      <!--  -->
    
      @if (errorMessage()) {
      <tr>
        <td colspan="8" class="text-center">
          {{ errorMessage() }}
        </td>
      </tr>
      }
      <!--  -->

      <!--  -->
      @if (countries().length === 0 && !isLoading()){
      <tr>
        <td colspan="8" class="text-center">No se encontraron resultados</td>
      </tr>
      }
      <!--  -->

      @if(isLoading()){
      <tr>
        <td colspan="8">
          <div class="text-center flex justify-center items-center h-full">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"
              >
                <animateTransform
                  attributeName="transform"
                  dur="0.75s"
                  repeatCount="indefinite"
                  type="rotate"
                  values="0 12 12;360 12 12"
                />
              </path>
            </svg>
            <p class="ml-5">Buscando paises...</p>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
